includes:
    - %currentWorkingDirectory%/vendor/larastan/larastan/extension.neon
    - %currentWorkingDirectory%/vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    level: max

    paths:
        - src
        - tests

    checkMissingTypehints: true
